* {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 70px;
  left: 50px;
  width: 700px;
}

h1 {
  font-size: 3.5rem;
}

p {
  font-size: 1.5rem;
}

a {
  color: #0f0f0f;
  font-weight: bold;
}

@media (max-width: 600px) {
  .container {
    width: 350px;
  }
}
